body {
	background-color:white;
	height:100%;
	width: 100%;
}
#main {	
	margin: 115px 0 auto;
}
/*HEADER*/
header{
	top: 0;
	position: fixed;
	z-index:100;
	width: 100%;
}
/* HEADER */ 
.header-properties{
	position: relative;
	background-color:#343434;
	width: 100%;
	height:5%;
}

.header-properties  li{
	display:inline-block;
	margin-top:5px;
}
.header-properties li img {
	height: 65px; 
}
.header-properties ul{
	margin-left: 15%;
}
.header-properties select {
	-webkit-appearance: menulist-button;
	width: 200px;
	height: 35px;
	border-radius: 5px;
	border-top: none;
	border-left: none;
	margin-left: 100px;	
}
.header-properties button {
	border-radius: 5px;
	background-color: #7e7d7d;
	border-top:none;
	border-left: none;
	border-right:none;
	border-bottom-width:3px;
	border-color:#989898;
	font-size: 15px;
	padding: 5px 0 5px 0px;
	color: white;
}
.header-properties-button-user {
	background-color:#5d5c5c;
	padding: 10px 7px 13px 5px;
	color: white;
}
.header-properties-button-user i {
	margin-left:5px;
}
.header-properties-user-strong{
	margin-left:10px;
	padding-right: 10px;
}
#header-button-cartelera {
	background-color:#0066ad;
	color: white;
	margin-left: 15px;
	padding-right: 12px;
	font-size: 15px;
	border-bottom-color:#0463a6;
}
#header-button-cartelera-letras {
	padding-left: 10px;
}

#header-li-user {
	margin-left:200px;
}
#header-button-user {
	padding-left:1%;
}
/* MENU */
.menu-properties{
	position: absolute;
	z-index:100;
	width: 100%;
	height:30px;
	background-color:#0066Ad;
	box-shadow: 0px 2px 25px 0px #343434
}
.menu-properties ul {
	margin-left: 11%;
}
.menu-properties li {
	display:inline-block;
	margin: 0 1% 0 1%;
	padding: 0 1% 0 1%;
}
.menu-properties li a{
	color: white;
	font-size:0.9em;
}

.menu-properties li:hover{
	background-color:#045187;
	border-bottom-color:white;
	border-bottom-style:solid;
	border-bottom-width:2px;
}

/*CARROUSEL */

.carrousel-container {
	height: 85%;
	width: 100%;
	top:13%;
	position:absolute;
}

.carrousel-container img {
	width: 100%;
	height:530px !important;
	margin-top: 2%;
}

/* MODAL Inicio Seción*/ 

.modal-properties {
	background-color:#343434;	
}

.modal-properties-letter{
	color: white;
	font-size:20px;
	margin-left:17%;
}
.modal-header {
	border:none;
	border-width: 2px;
	background-color: #0066Ad;
}

.modal-dialog {
	width:300px;
	margin-top: 10%;
}

.modal-form input{
	border-radius: 5px;
	width:100%;
	border-style: solid;
	border-color:gray;
	font-size: 15px;
	padding: 2% 2% 2% 2%;

}
.modal-form div{
	margin-bottom:30px;
}

.modal-footer{
	border:none;
}

/* CARTELERA */

.cartelera-contenedor {
	margin-left: 8%;
	margin-top:12%;	
	width: 90%;
}
.cartelera{

	margin-bottom:6%;
}

.cartelera-info {
	background-color:#0066Ad;
	margin-left: 5%;
	width: 80%;
	border-radius: 10px;

}
.cartelera-info i {
	color: white;
	display: inline-block;
	font-size: 2.5em;
}
.cartelera-info h4 {
	color: white;
	display: inline-block;

}
.cartelera-info div {
	background-color:#04558d;
	display: inline-block;
	padding: 1% 1% 1% 1%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.cartelera-peliculas {
	margin-left: 4%;
	margin-top: 2%;
}

.cartelera-peliculas li {
	display: inline-block;
	padding: 1% 0 0 2%;	
}
.cartelera-peliculas img {
	width: 150px;
	height: 220px;
}

/*PELICULA */

.pelicula-contenedor {
	margin-top: 5%;
	margin-left: 10%;
	width:65%;
	display: inline-block;
}
.pelicula img{
	width: 200px;
	height:300px;
	margin-top: 2%;
}
.pelicula-info {
	display: inline-block;
	position: absolute;
	margin-left: 2%;
	width: 45%;

}
.pelicula-info h5 {
	color: #0066Ad;
}
.pelicula-info ul {
	padding: 0;
}
.pelicula-info li {
	color: #343434;
	 list-style-type:none;
}
.pelicula-info li > strong{
	color: #0066Ad;

	/* horarios */
}
.horarios-contenedor {
	display: inline-block;
	position: absolute;
	padding-left: 3%;
	width: 25%;
	background-color: white;
}
#horario-instruccion {
	background-color:#343434;
	position: relative;
	margin-top: 15%;
	width: 90%;
	padding: 1% 1% 1% 4%;
	border-radius: 5px;
	margin-bottom: 28px;
}
#horario-instruccion span {
	color: white;
}
#horario-instruccion:after {
	border-top: 8px solid #343434;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -8px;
}	
.fecha-seleccion {
	background-color:#0066Ad;
	padding: 2% 1% 12% 3%;
	border-radius: 5px;
	width: 90%; 
}
.fecha-seleccion span{
	color: white;
}
.fecha-seleccion select {
	border-radius: 6px
	-webkit-appearance: menulist-button;
	width: 250px;
	height: 35px;
	margin-top:10px;
	border-radius: 5px;
	border-top: none;
	border-left: none;
}
.horarios {
	width:90%;
}
.seleccion-sala {
	margin-top: 6%;
}
.seleccion-sala span{
	font-size: 25px;
	color: #0066Ad;
}
.seleccion-hora li {
 	list-style-type:none;
 	display: inline-block;
 	padding-left:3%;
 	white-space: nowrap;

}
.seleccion-hora a:hover {
	color:#0066Ad;
}
.seleccion-hora ul {
	padding: 0;
}
.seleccion-hora a{
	font-size: 12px;
	color: #343434;
	font-weight: bold;

}
.info-pelicula-contenedor {
	margin:7% 10% 10% 10%;
	background-color: #dad7d7;
	position: relative;
	width:60%;
}
.info-pelicula-contenedor::before {
	border-bottom: 12px solid #dad7d7;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";
	top:-12px;
	left: 250px;
	position: absolute;
}
.info-pelicula-opciones li {
	display: inline-block;
	font-size: 30px;
	padding: 3% 10% 0 10%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: gray;
}
.info-pelicula-contenido{
	padding: 3% 0 5% 6%;

}
.info-pelicula-opciones li i{
	font-size:20px;
	color: #343434!important;
	background-color:#0066Ad;
	padding: 5px 5px 5px 10px;
	border-radius: 15px;
}
.info-pelicula-contenido p {
	color:#343434;
}
.info-pelicula-opciones{
	color:#343434!important;
}
.info-pelicula-opciones-select{
	color:#0066Ad!important;	
}
.info-pelicula-enlaces{
	border-bottom-color: gray;
}
.info-pelicula-enlaces-select{
	border-bottom-color:#0066Ad!important;	
}
.info-pelicula-detalles-select {
	display:block;
}
.info-pelicula-detalles {
	display: none;;

}
/* PAGINA PARA COMPRAR BOLETOS´*/


.compra-detalle {
	width: 25%;
	display: inline-block;
	margin: 2% 0 0 5%;
}
.compra-detalle-lbl span{
	background-color:#0066Ad;
	padding: 2% 15% 2% 15%;
	border-radius: 5px;
	color: white;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color:#024676;

}
.compra-detalle-img {
	margin: 7% 0 5% 3%;

}
.compra-detalle-img img{
	height: 300px;
}
.compra-detalle-info ul{
	padding:0;
}
.compra-detalle-info li {
	list-style-type:none;
	color: #343434;
}
.compra-detalle-info li strong {
	color: #0066Ad;
}

.compra-proceso {
	background-color:red;
	position: absolute;
}