body {
	height:100%;
	width: 100%;
}
#main {	
	margin: 110px 0 auto;
	position: relative;
}
/*HEADER*/
header{
	top: 0;
	position: fixed;
	z-index:100;
	width: 100%;
}

/* HEADER */ 
.header-properties{
	position: relative;
	background-color:#343434;
	width: 100%;
	height:5%;
}
.header-properties  li{
	display:inline-block;
	margin-top:5px;
}
.header-properties li img {
	height: 65px; 
}
.header-properties ul{
	padding: 5px 0px 5px 0px;
	margin-bottom: 0px !important;
	text-align: center;
}
.header-properties select {
	-webkit-appearance: menulist-button;
	width: 200px;
	height: 35px;
	border-radius: 5px;
	border-top: none;
	border-left: none;
	margin-left: 100px;	
}
.header-properties button {
	border-radius: 5px;
	background-color: #7e7d7d;
	border-top:none;
	border-left: none;
	border-right:none;
	border-bottom-width:3px;
	border-color:#989898;
	font-size: 15px;
	padding: 5px 0 5px 0px;
	color: white;
	-webkit-transition: All 1s;
}

.header-properties button:hover {
	background-color: #5d5c5c;
}


.header-properties-button-user {
	background-color:#5d5c5c;
	padding: 10px 7px 13px 5px;
	color: white;
}
.header-properties-button-user i {
	margin-left:5px;
}
.header-properties-user-strong{
	margin-left:10px;
	padding-right: 10px;
}
#header-button-cartelera {
	background-color:#0066ad;
	color: white;
	margin-left: 15px;
	padding-right: 12px;
	font-size: 15px;
	border-bottom-color:#0463a6;
	-webkit-transition: All 1s;
}
#header-button-cartelera:hover {
	background-color: #014D83;
}

#header-button-cartelera-letras {
	padding-left: 10px;
}

#header-li-user {
	margin-left:200px;
}
#header-button-user {
	padding-left:1%;
}

#ciudad:focus {
	border:none!important;
}
/* MENU */
.menu-properties{
	position: absolute;
	z-index:100;
	width: 100%;
	height:30px;
	background-color:#0066Ad;
	box-shadow: 0px 2px 25px 0px #343434
}
.menu-properties ul {
	padding-left: 0px;
	margin-left: 11%;
}
.menu-properties li {
	display:inline-block;
	padding: 0 2% 0 2%;
	-webkit-transition: All 0.5s;
}
.menu-properties li a{
	color: white;
	font-size: medium;
}

.menu-properties li a:hover {
	font-size: large;
}

.menu-properties li:hover{
	background-color:#045187;
	border-bottom-color:white;
	border-bottom-style:solid;
	border-bottom-width:2px;
}

/*FOOTER*/
#footer {
	background-color: #333;
	height: 35px;
	font-size: smaller;
}

#footer-row {
	width: 100%;
	height: 95%;
	background-color: pink;
	padding: 10px 130px 0px 130px;
}

.footer-item{
	display: inline;
	width: 25%;
	padding-left: 40px;
	padding-right: 40px;
}

#footer ul li div {
	display: inline;
}

.footer-item img {
	width: 20%;
	height: 100%;
}

.icon {
	width: 100%;
	height: 100%;
	/*display: block;*/
}

#social-icons {
	width: 28%;
	display: inline-block;
	text-align: right;
	margin-top: 2px;
}

#copyright {
	width: 60%;
	display: inline-block;
	text-align: right;
}

/*CARROUSEL */

.carrousel-container {
	height: 500px;
	width: 100%;
	top: -27px;
	position:relative;
}

.carrousel-container img {
	width: 100%;
	height: 500px !important;
	margin-top: 2%;
}

/* MODAL Inicio Seción*/ 

.modal-properties {
	background-color:#343434;	
}

.modal-properties-letter{
	color: white;
	font-size:20px;
}
.modal-header {
	border:none;
	border-width: 2px;
	background-color: #0066Ad;
}
.modal-body {
 	height: 70px !important;
}

.modal-dialog {
	width:300px;
	margin-top: 10%;
}

.modal-form input{
	border-radius: 5px;
	width:100%;
	border-style: solid;
	border-color:gray;
	font-size: 15px;
	padding: 2% 2% 2% 2%;

}
.modal-form div{
	margin-bottom:30px;
}

.modal-footer{
	margin-top: 0 !important;
	padding-top: 10px !important;
	border:none;
}

.btn-reserve {
	background-color: #0066ad !important;
}
/* CARTELERA */

.cartelera-contenedor {
	margin-left: 8%;
	margin-top:12%;	
	width: 80%;
}
.cartelera{

	margin-bottom:6%;
}

.cartelera-info {
	background-color:#0066Ad;
	margin-left: 5%;
	width: 100%;
	border-radius: 10px;

}
.cartelera-info i {
	color: white;
	display: inline-block;
	font-size: 2.5em;
}
.cartelera-info h4 {
	color: white;
	display: inline-block;

}
.cartelera-info div {
	background-color:#04558d;
	display: inline-block;
	padding: 1% 1% 1% 1%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.cartelera-peliculas {
	margin-left: 4%;
	margin-top: 2%;
}

.cartelera-peliculas li {
	display: inline-block;
	padding: 1% 0 0 2%;	
}
.cartelera-peliculas img {
	width: 150px;
	height: 220px;
}

/*PELICULA */

.pelicula-contenedor {
	margin-top: 5%;
	margin-left: 10%;
	width:65%;
	display: inline-block;
}
.pelicula img{
	width: 200px;
	height:300px;
	margin-top: 2%;
}
.pelicula-info {
	display: inline-block;
	position: absolute;
	margin-left: 2%;
	width: 45%;

}
.pelicula-info h5 {
	color: #0066Ad;
}
.pelicula-info ul {
	padding: 0;
}
.pelicula-info li {
	color: #343434;
	 list-style-type:none;
}
.pelicula-info li > strong{
	color: #0066Ad;

	/* horarios */
}
.horarios-contenedor {
	display: inline-block;
	position: absolute;
	padding-left: 3%;
	width: 25%;
	margin-top:50px;
	background-color: white;
}
#horario-instruccion {
	background-color:#343434;
	position: relative;
	margin-top: 15%;
	width: 90%;
	padding: 1% 1% 1% 4%;
	border-radius: 5px;
	margin-bottom: 50px;
}
#horario-instruccion span {
	color: white;
}
#horario-instruccion:after {
	border-top: 8px solid #343434;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -8px;
}	
.fecha-seleccion {
	background-color:#0066Ad;
	position: relative;
	padding: 2% 1% 12% 3%;
	border-radius: 5px;
	width: 90%;  
}
.fecha-seleccion:after {
	border-top: 8px solid #0066Ad;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -8px;
}
.fecha-seleccion span{
	color: white;
}
.fecha-seleccion select {
	border-radius: 6px
	-webkit-appearance: menulist-button;
	width: 250px;
	height: 35px;
	margin-top:10px;
	border-radius: 5px;
	border-top: none;
	border-left: none;
}
.horarios {
	width:90%;
}
.seleccion-sala {
	margin-top: 6%;
}
.seleccion-sala span{
	font-size: 25px;
	color: #0066Ad;
}
.seleccion-hora li {
 	list-style-type:none;
 	display: inline-block;
 	padding-left:3%;
 	white-space: nowrap;

}

#lista li a {
	-webkit-transition: All 0.5s;
}

#lista li a:hover {
	color:#0066Ad;
	font-size: medium;
}

.seleccion-hora a:hover {
	color:#0066Ad;
}
.seleccion-hora ul {
	padding: 0;
}
.seleccion-hora a{
	font-size: 12px;
	color: #343434;
	font-weight: bold;

}
.info-pelicula-contenedor {
	margin:120px 50px 50px 150px;
	background-color: #dad7d7;
	position:relative;
	display: inline-block;
	width:60%;
	height: 550px;
}
.info-pelicula-contenedor::before {
	border-bottom: 12px solid #dad7d7;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	content: "";
	top:-12px;
	left: 250px;
	position: absolute;
}
.info-pelicula-opciones li {
	display: inline-block;
	font-size: 30px;
	padding: 3% 10% 0 10%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: gray;
}
.info-pelicula-contenido{
	padding: 3% 0 5% 6%;

}
.info-pelicula-opciones li i{
	font-size:20px;
	color: #343434!important;
	background-color:#0066Ad;
	padding: 5px 5px 5px 10px;
	border-radius: 15px;
}
.info-pelicula-contenido p {
	color:#343434;
}
.info-pelicula-opciones{
	color:#343434!important;
}
.info-pelicula-opciones-select{
	color:#0066Ad!important;	
}
.info-pelicula-enlaces{
	border-bottom-color: gray;
}
.info-pelicula-enlaces-select{
	border-bottom-color:#0066Ad!important;	
}

/* PAGINA PARA COMPRAR BOLETOS´*/


.compra-detalle {
	width: 20%;
	display: inline-block;
	margin: 50px 0 0 5%;
}
.compra-detalle-lbl span{
	background-color:#0066Ad;
	padding: 2% 15% 2% 15%;
	border-radius: 5px;
	color: white;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color:#024676;

}
.compra-detalle-img {
	margin: 7% 0 5% 3%;

}
.compra-detalle-img img{
	height: 260px;
}
.compra-detalle-info ul{
	padding:0;
}
.compra-detalle-info li {
	list-style-type:none;
	color: #343434;
}
.compra-detalle-info li strong {
	color: #0066Ad;
}

.compra-proceso {
	display: inline-block; 
	position: absolute;
	margin-top: 80px;
	width: 75%;
}
.compra-proceso-instrucciones li {
	 list-style: none;
	 display: inline-block;
	 background-color:#c7c9cb;
	 margin-right:1%;
	 padding: 4%;
}

.compra-proceso-instrucciones ul li strong{
	font-size: medium;
	color: #0066Ad;
}

.compra-proceso-seleccionBoletos {
	padding-left: 40px;
	margin-top: 50px;
	color: #0066Ad;
}

.compra-proceso-infoBoletos{
	display: inline-block;
	background-color:#d7d2d2;
	width: 80%;
	padding: 1% 0 1% 1%;
	margin-top: 4%;
	border-radius:5px;
	color: #343434;
}

.compra-proceso-numBoletos {
	display: inline-block;
}

.compra-proceso-numBoletos output {
	display: inline-block;
	font-size: medium;
}

.compra-proceso-numBoletos input {
	display: inline-block;
	background-color:#168cdf;
	color: white;
	border:none;
	border-radius: 5px;
	font-weight:bold;
	height: 40px;
}
.compra-proceso-tipoProceso {
	margin-top: 80px;
	margin-left:50%;
}

/*Asientos*/
#seating-container {
    width: 900px;
	height: 100%;
	padding-bottom: 10px;
	background-color: #F0F0F0;
}

.available { color: #8bc83c; }
.sold { color: gray; }
.selected { color: #0066Ad ; }

.seating-item {
    width: 9%;
    height: 15%;
    margin-top: 15px;
    display: inline-block;
    /*color: #0066Ad;*/
    text-align: center;
    -webkit-transition: All 1s;
}

.available:hover {
    color: #398439;
    -webkit-transform: scale(1.2,1.2);
}

.empty-seating-item {
    width: 9%;
    height: 15%;
    margin-top: 15px;
    display: inline-block;
    color: transparent;
    /*color: #F0F0F0;*/
}

#button-sig-container {
    width: 900px;
    height: 70px;
    text-align: right;
    padding: 2% 2% 0% 0%;
}

#btnSiguienteAsientos {
 	background-color:#0066ad !important;
	color: white !important;   
}

#form-venta-container {
	background-color: transparent;
	
}

#btnSiguiente {
	margin: 2% 1% 1% 0%;	
}

#form-container input {
	box-shadow: 0px 0px 2px 0px gray;
	border:none;
	margin-top: 25px;
	-webkit-transition: All 0.5s;
}


#form-container input:focus {
	border:none !important;
	outline: none !important;
	box-shadow: 0px 0px 5px 0px #0066Ad;
}

/* PARTE DEL LUIS */

/*Parte premium */
#banner-container-premium {
	width: 100%;
}

#banner-container-premium img {
	width: 100%;
	height: 100%;
}

#content-container-premium {
	width: 100%;
}

.img-premium {
	display: inline-block;
	height: 100%;
	width:60%;
}

.img-premium img {
	margin-left: 10%;
	margin-top:-55%;
	margin-bottom: 10%;
}

.info-premium {
	display: inline-block;
	width: 30%;
}

.info-premium p {
	text-align: justify;
	margin-top: 15%;
}
/*Parte 4d */
#banner-container-4d {
	width: 100%;
}

#banner-container-4d img {
	width: 100%;
	height: 100%;
}

#content-container-4d {
	width: 100%;
}

.img-4d {
	display: inline-block;
	height: 100%;
	width:60%;
}
.img-4d-1 img {
	margin-left: 10%;
	margin-top:-87%;
	margin-bottom: 10%;
	width: 83%;

}
.img-4d-2 img{
	margin-left: 10%;
	margin-top:-20%;
	margin-bottom: 10%;
	width: 83%;

}

.info-4d {
	display: inline-block;
	width: 30%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.info-4d p {
	text-align: justify;
}

/*Parte 3D */

#banner-container-3d {
	width: 100%;
}

#banner-container-3d img {
	width: 100%;
	height: 100%;
}

#content-container-3d {
	width: 100%;
}

.img-3d {
	display: inline-block;
	height: 100%;
	width:60%;
}

.img-3d img {
	margin-left: 10%;
	margin-top:-42%;
	margin-bottom: 10%;
}

.info-3d {
	display: inline-block;
	width: 30%;
}

.info-3d p {
	text-align: justify;
	margin-top: 15%;
}
/*parte invitado especial*/
#banner-container-invitadoespecial {
	width: 100%;
}
#banner-container-invitadoespecial img {
	width: 100%;
}
.conteiner-invitadoespecial {
	width: 100%;
	height: 100%;
}
.intro-invitadoespecial h6 {
	margin-top: 6%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	color: #6E6E6E;
}
.tarjetas-invitadoespecial img {
	margin-top: 3%;
	width: 56%;

}
.text-invitadoespecial {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: justify;
	color: #6E6E6E;
}
.puntos-invitadoespecial img {
	margin-top: 3%;
	width: 56%;
	margin-bottom: 5%;

}
/*moviextremo*/
#banner-container-moviextremo {
	width: 100%;
}

#banner-container-moviextremo img {
	width: 100%;
	height: 100%;
}

#content-container-moviextremo {
	width: 100%;
}

.img-moviextremo {
	display: inline-block;
	height: 100%;
	width:60%;
}

.img-moviextremo img {
	margin-left: 10%;
	margin-top:-55%;
	margin-bottom: 10%;
}

.info-moviextremo {
	display: inline-block;
	width: 30%;
}

.info-moviextremo p {
	text-align: justify;
	margin-top: 15%;
}


imagen-contenido-buzon img {
	margin-top: 35%;
	width: 90% !important;
	margin-left: 5%;
}


.seguridad-buzon p{
	font-size: 8pt;
	padding-left: 70%;
	margin-right: 5%;
	padding-top: 28%;

}

.titulo-buzon h3{
	color: #0066Ad;
	margin-left: 5%;
	margin-top: 13%;

}
.texto-buzon {
	margin-left: 10%

}

#header-button-enviar {
	background-color:#0066ad;
	color: white;
	margin-left: 15px;
	padding-right: 12px;
	font-size: 15px;
	border-bottom-color:#0463a6;
}
#header-button-enviar-letras {
	padding-left: 10px;
}

.margen-boton-enviar{
	padding-top: 5%;
	padding-left:80%;
	padding-bottom: 20%
}

.margen-formularios{
	padding-left: 5%;
}
.margen-formularios2{
	padding-top: 7%;
	padding-left: 3%;
}
.imagenNosotros img {
	height:10% !important;
	width: 100%;
}

.nosotros-titulo h3{
	margin-top: 5%;
	margin-left:5%;
	color: #0066Ad;
}
.imagen-info-nosotros img {
	width:80%;
	height:70%;
	display: line-block !important;
	margin-left: 5%;
	padding-top: 5%;
}
.nosotros-info-text{
	display: line-block !important;
	padding-left: 5%;
	padding-top: 5%;
}
.separacion {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	width: 95%;
	margin-left:3%;
	background color: blue !important;
}
.pelicula-contendor-reserva {
	margin-top: 5%;
	margin-left: 15%;
	width:65%;
	display: inline-block;
}

.botones-detalle-reserva{

	margin-left: 60%;	
	display: inline-block;

}
